<tr>
  <th scope="row"><%= client.id %></th>
  <td><%= client.name %></td>
  <td><%= client.age %></td>
  <td><%= client.movies.last %></td>
  <td><%= link_to "Mostrar cliente", client, class: "btn btn-yellow" %></td>
  <td><%= link_to "Editar cliente", edit_client_path(client), class: "btn btn-yellow" %></td>
  <td><%= link_to "Eliminar cliente", client_path(client), method: :delete, data: { confirm: "¿Estás seguro de que deseas eliminar este cliente?" }, class: "btn btn-yellow" %></td>

</tr>
