<p style="color: green"><%= notice %></p>

<table class="table table-bordered">
<thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Nombre</th>
    <th scope="col">Edad</th>
    <th scope="col">Última película</th>
    <th scope="col">Acciones</th>
  </tr>
  </thead>
  <tr>
    <td><%= @client.id %></td>
    <td><%= @client.name %></td>
    <td><%= @client.age %></td>
    <td><%= @client.movies.last %></td>
    <td>
      <%= link_to "Volver a clientes", clients_path %>
      <%= link_to "Editar cliente", edit_client_path(@client) %>
      <%= button_to "Eliminar cliente", @client, method: :delete %>
    </td>
  </tr>
</table>
